:root {
    --md-text-font:  "LXGW WenKai Screen", sans-serif; 
}

@font-face {    
    font-family: 'LXGW';    
    src: url('./LXGWWenKaiGBScreen.woff') format('woff');
}

.admonition.note.inline,
.admonition.success.inline {
    width: 33% !important;
    height: 135px !important;
    margin: 6px !important;
    vertical-align: top !important;
    padding: 12px 15px !important;
    box-sizing: border-box !important;
    display: inline-block !important; 
}
.admonition-content p {
    line-height: 1.8 !important;
    margin: 5px 0 !important;
    font-size: 15px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.fancy-font {
    font-family: 'Parisienne', cursive;
    font-size: 2.2em;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .admonition.note.inline,
    .admonition.success.inline {
        width: calc(100% - 12px) !important;  
        height: auto !important; 
        display: block !important; 
        min-height: 120px;
    }
    .admonition-content p {
        font-size: 14px !important;
        line-height: 1.7 !important;
    }
    [size="6"] {
        font-size: 1.8em !important;
    }
}